
h1{
    margin-top: 10px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, textarea{
    width: 50%;
    margin-bottom: 10px;
}
